Source: pidgin-ppa
Section: net
Priority: extra
Maintainer: Richard Laager <rlaager@pidgin.im>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.6
Homepage: http://pidgin.im/download/ubuntu
Vcs-Git: git://github.com/rlaager/pidgin-ppa.git
Vcs-Browser: https://github.com/rlaager/pidgin-ppa

Package: pidgin-ppa
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, pidgin | finch
Description: Pidgin PPA
 This package configures the Pidgin PPA to provide you with updated versions of
 Pidgin and Finch as well as their underlying libraries libpurple and libgnt.
 These packages are provided by the Pidgin project and are not supported by
 Ubuntu or Canonical.
