#!/bin/sh -e
# vim: ai ts=4 sts=4 et sw=4

. /usr/share/debconf/confmodule

. /etc/lsb-release
case $DISTRIB_ID in
    Ubuntu)
        # Supported
        exit 0
        ;;
    *)
        NOTE=unsupported_distro
        ;;
esac

db_subst pidgin-ppa/$NOTE DISTRIB_ID "$DISTRIB_ID"
db_fset pidgin-ppa/$NOTE seen false
db_input high pidgin-ppa/$NOTE || true
db_go
