#!/bin/sh -e

. /usr/share/debconf/confmodule

# This has to match the similar code in pidgin-ppa.postinst.
. /etc/lsb-release
case $DISTRIB_ID in
    Ubuntu)
        # Supported
        exit 0
        ;;
    *)
        NOTE=unsupported_distro
        ;;
esac

db_subst pidgin-ppa/$NOTE DISTRIB_ID "$DISTRIB_ID"
db_subst pidgin-ppa/$NOTE DISTRIB_RELEASE "$DISTRIB_RELEASE"
db_fset pidgin-ppa/$NOTE seen false
db_input high pidgin-ppa/$NOTE || true
db_go
